<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-left (click)="Go_Back()">
        <ion-icon name="arrow-back"></ion-icon>
        <span ion-text color="primary">返回</span>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="Update()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>

    <ion-segment [(ngModel)]="top_segment">
      <ion-segment-button value="Sensor_All">全部</ion-segment-button>
      <ion-segment-button value="Sensor_Err">故障</ion-segment-button>
    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div [ngSwitch]="top_segment">
    <ion-list *ngSwitchCase="'Sensor_All'">
      <ion-searchbar (ionInput)="Search_Bar($event)"></ion-searchbar>
      <button ion-item *ngFor="let item of Sensors" (click)="Open_Detail(item)">
        <ion-avatar item-start>
          <img src="{{ item.IMG_SRC }}">
        </ion-avatar>
        {{ item.NAME }}
        <p>{{ item.CAUSE }}</p>
        <ion-badge color="{{ item.COLOR }}" item-end>{{ item.STATUS }}</ion-badge>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'Sensor_Err'">
      <button ion-item *ngFor="let item of Sensors_Err" (click)="Open_Detail(item)">
        <ion-avatar item-start>
          <img src="{{ item.IMG_SRC }}">
        </ion-avatar>
        {{ item.NAME }}
        <ion-badge color="{{ item.COLOR }}" item-end>{{ item.STATUS }}</ion-badge>
        <p>{{ item.CAUSE }}</p>
      </button>
    </ion-list>

  </div>

</ion-content>